<form hx-post="/login" hx-target="#flash" hx-swap="innerHTML">
  <label>Usuário:</label>
  <input name="username" type="text" required>
  <label>Senha:</label>
  <input name="password" type="password" required>
  <button type="submit">Entrar</button>
</form>
<div id="flash"></div>
