<dialog open id="create-note-success-dialog">
  <article>
    <p>Anotação criada com sucesso.</p>
    <footer>
      <button
        onclick="document.getElementById('create-note-success-dialog').remove(); window.location.href='/'"
      >Fechar</button>
    </footer>
  </article>
</dialog>