<dialog open id="create-note-error-dialog">
  <article>
    <p>Erro ao criar a anotação.</p>
    <footer>
      <button
        onclick="document.getElementById('create-note-success-dialog').remove(); window.location.href='/'"
      >Fechar</button>
    </footer>
  </article>
</dialog>