<dialog open id="delete-note-success-dialog">
  <article>
    <p>Anotação removida com sucesso.</p>
    <footer>
      <button onclick="document.getElementById('delete-note-success-dialog').remove()">Fechar</button>
    </footer>
  </article>
</dialog>