<dialog open id="edit-note-success-dialog">
  <article>
    <p>Anotação editada com sucesso.</p>
    <footer>
      <button onclick="document.getElementById('edit-note-success-dialog').remove(); window.location.href='/'">Fechar</button>
    </footer>
  </article>
</dialog>