<dialog open id="edit-note-error-dialog">
  <article>
    <p>Erro ao editar a anotação.</p>
    <footer>
      <button onclick="document.getElementById('edit-note-error-dialog').remove(); window.location.href='/'">Fechar</button>
    </footer>
  </article>
</dialog>