<dialog open id="save-success-dialog">
  <article>
    <p>Arquivo salvo com sucesso.</p>
    <footer>
      <button onclick="document.getElementById('save-success-dialog').remove()">Fechar</button>
    </footer>
  </article>
</dialog>